################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/proj/vs/.vs
/proj/vs/x64
/proj/vs/Win32
/proj/vs/allocator_traits_test.vcxproj.user
/proj/vs/alloc_basic_test.vcxproj.user
/proj/vs/alloc_full_test.vcxproj.user
/proj/vs/alloc_lib.vcxproj.user
/proj/vs/bench_adaptive_node_pool.vcxproj.user
/proj/vs/bench_alloc.vcxproj.user
/proj/vs/bench_alloc_expand_bwd.vcxproj.user
/proj/vs/bench_alloc_expand_fwd.vcxproj.user
/proj/vs/bench_alloc_shrink_to_fit.vcxproj.user
/proj/vs/bench_alloc_stable_vector_burst.vcxproj.user
/proj/vs/bench_flat_multiset.vcxproj.user
/proj/vs/bench_flat_set.vcxproj.user
/proj/vs/bench_hash_map_string_test.vcxproj
/proj/vs/bench_hash_map_string_test.vcxproj.user
/proj/vs/bench_hash_map_test.vcxproj
/proj/vs/bench_hash_map_test.vcxproj.user
/proj/vs/bench_hash_map_uint32_test.vcxproj
/proj/vs/bench_hash_map_uint32_test.vcxproj.user
/proj/vs/bench_hash_map_uint64_test.vcxproj
/proj/vs/bench_hash_map_uint64_test.vcxproj.user
/proj/vs/bench_hash_set_test.vcxproj
/proj/vs/bench_set.vcxproj.user
/proj/vs/bench_set_adaptive_pool.vcxproj.user
/proj/vs/bench_set_alloc_v2.vcxproj.user
/proj/vs/bench_set_avl.vcxproj.user
/proj/vs/bench_set_multi.vcxproj.user
/proj/vs/bench_set_sg.vcxproj.user
/proj/vs/bench_set_sp.vcxproj.user
/proj/vs/bench_static_vector.vcxproj.user
/proj/vs/bench_vectors.vcxproj.user
/proj/vs/boost_iterator_comp_test.vcxproj.user
/proj/vs/common_iterator_test.vcxproj.user
/proj/vs/container.vcxproj
/proj/vs/container.vcxproj.filters
/proj/vs/container.vcxproj.user
/proj/vs/copy_move_algo_test.vcxproj.user
/proj/vs/deque_options_test.vcxproj.user
/proj/vs/deque_test.vcxproj.user
/proj/vs/devector_options_test.vcxproj.user
/proj/vs/devector_test.vcxproj.user
/proj/vs/doc_custom_deque.vcxproj.user
/proj/vs/doc_custom_devector.vcxproj.user
/proj/vs/doc_custom_small_vector.vcxproj.user
/proj/vs/doc_custom_static_vector.vcxproj.user
/proj/vs/doc_custom_tree.vcxproj.user
/proj/vs/doc_custom_vector.vcxproj.user
/proj/vs/doc_emplace.vcxproj.user
/proj/vs/doc_extended_allocators.vcxproj.user
/proj/vs/doc_move_containers.vcxproj.user
/proj/vs/doc_pmr.vcxproj.user
/proj/vs/doc_recursive_containers.vcxproj.user
/proj/vs/doc_type_erasure.vcxproj.user
/proj/vs/explicit_inst_deque_test.vcxproj.user
/proj/vs/explicit_inst_devector_test.vcxproj.user
/proj/vs/explicit_inst_flat_map_test.vcxproj.user
/proj/vs/explicit_inst_flat_set_test.vcxproj.user
/proj/vs/explicit_inst_list_test.vcxproj.user
/proj/vs/explicit_inst_map_test.vcxproj.user
/proj/vs/explicit_inst_set_test.vcxproj.user
/proj/vs/explicit_inst_slist_test.vcxproj.user
/proj/vs/explicit_inst_small_vector_test.vcxproj.user
/proj/vs/explicit_inst_stable_vector_test.vcxproj.user
/proj/vs/explicit_inst_static_vector_test.vcxproj.user
/proj/vs/explicit_inst_string_test.vcxproj.user
/proj/vs/explicit_inst_vector_test.vcxproj.user
/proj/vs/flat_map_adaptor_test.vcxproj.user
/proj/vs/flat_map_test.vcxproj.user
/proj/vs/flat_set_adaptor_test.vcxproj.user
/proj/vs/flat_set_test.vcxproj.user
/proj/vs/flat_tree_test.vcxproj.user
/proj/vs/global_resource.vcxproj.user
/proj/vs/insert_vs_emplace_test.vcxproj.user
/proj/vs/list_test.vcxproj.user
/proj/vs/map_test.vcxproj.user
/proj/vs/memory_resource_test.vcxproj.user
/proj/vs/monotonic_buffer_resource_test.vcxproj.user
/proj/vs/node_handle_test.vcxproj.user
/proj/vs/null_iterators_test.vcxproj.user
/proj/vs/pair_test.vcxproj.user
/proj/vs/pmr_deque_test.vcxproj.user
/proj/vs/pmr_devector_test.vcxproj.user
/proj/vs/pmr_flat_map_test.vcxproj.user
/proj/vs/pmr_flat_set_test.vcxproj.user
/proj/vs/pmr_list_test.vcxproj.user
/proj/vs/pmr_map_test.vcxproj.user
/proj/vs/pmr_set_test.vcxproj.user
/proj/vs/pmr_slist_test.vcxproj.user
/proj/vs/pmr_small_vector_test.vcxproj.user
/proj/vs/pmr_stable_vector_test.vcxproj.user
/proj/vs/pmr_string_test.vcxproj.user
/proj/vs/pmr_vector_test.vcxproj.user
/proj/vs/polymorphic_allocator_test.vcxproj.user
/proj/vs/resource_adaptor.vcxproj.user
/proj/vs/scoped_allocator_adaptor_test.vcxproj.user
/proj/vs/scoped_allocator_usage_test.vcxproj.user
/proj/vs/set_test.vcxproj.user
/proj/vs/slist_test.vcxproj.user
/proj/vs/small_vector_options_test.vcxproj.user
/proj/vs/small_vector_test.vcxproj.user
/proj/vs/stable_vector_test.vcxproj.user
/proj/vs/static_vector_options_test.vcxproj.user
/proj/vs/static_vector_test.vcxproj.user
/proj/vs/string_test.vcxproj.user
/proj/vs/string_view_compat_test.vcxproj.user
/proj/vs/synchronized_pool_resource_test.vcxproj.user
/proj/vs/throw_exception_test.vcxproj.user
/proj/vs/tree_test.vcxproj.user
/proj/vs/unsynchronized_pool_resource_test.vcxproj.user
/proj/vs/uses_allocator_test.vcxproj.user
/proj/vs/vector_options_test.vcxproj.user
/proj/vs/vector_test.vcxproj.user
/doc/html
/doc/autodoc.xml
/proj/vs/deque_test.vcxproj
/proj/vs/stable_vector_test.vcxproj
